<!DOCTYPE html>
<html>
<head>
    <title> Proiecte Arduino</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
    crossorigin="anonymous">
</head>
<body>
    <div class="container">

   
    <div class="Acasa">

        <h1 id="welcome">ArduHub</h1>
        
        <nav>
        
            
            <a href="/">Acasa</a>
             <a href="proiecte">Proiecte</a>
    </nav>
      <h2 id="msg">Bine ai venit pe acest ArduHub!</h2>
      <p id="paragraph">Pe acest site se gasesc diferite proiecte cu celebra
        placa de dezvoltare Arduino 
      </p>  
        </div>
<div class="Proiecte"></div>
</div>
</body>
<style>
    body{
       background-color: aqua;

    }
#welcome{
    background-color: aqua;
    text-align: center;
    color:white;

} 
#msg{
    background-color: aqua;
    text-align:center;
    color:white
}
#paragraph{
    background-color: aqua;
    text-align: center;
    color: white;
}
ul{
  
 list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}  
li{
    display: inline;
   
} 
li a{
    color: white;
}
</style>
</html>